<header class="navbar navbar-expand-lg p-0">
    <div class="col order-lg-1 order-0">
        <button
            class="navbar-toggler"
            data-bs-toggle="collapse"
            data-bs-target="#navbarContent"
        >
            <i class="pi pi-bars"></i>
        </button>
    </div>

    <div class="tools col-3-offset-1 order-lg-3 p-0">
        <i
            routerLink="/register"
            class="pi pi-user-plus p-text-secondary"
            style="font-size: 1.5rem"
        ></i>
        <a routerLink="/login" *ngIf="!isUserAuthenticated"
            ><i
                class="pi pi-sign-in p-text-secondary"
                style="font-size: 1.5rem"
            ></i
        ></a>
        <i
            *ngIf="isUserAuthenticated"
            class="pi pi-sign-out p-text-secondary"
            style="font-size: 1.5rem"
            (click)="logout()"
        ></i>
        <orders-cart-icon></orders-cart-icon>
    </div>

    <div
        class="col order-lg-0 order-1 collapse navbar-collapse"
        id="navbarContent"
    >
        <ul class="navbar-nav">
            <li class="nav-item logo">
                <img
                    src="assets/images/apiro-shop-logo.png"
                    alt="Logo"
                    class="navbar-brand"
                />
            </li>

            <li class="search nav-item d-lg-block d-none">
                <products-search></products-search>
            </li>
            <li class="navigation nav-item ms-lg-2 py-lg-4 pt-0">
                <ngshop-nav></ngshop-nav>
            </li>
        </ul>
    </div>
</header>
